<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\logs\billing-service.log" />
    <encoding type="System.Text.UTF8Encoding" />
    <appendToFile value="true" />
    <maximumFileSize value="5MB" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="RequestFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\logs\billing-service-request.log" />
    <encoding type="System.Text.UTF8Encoding" />
    <appendToFile value="true" />
    <maximumFileSize value="5MB" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
  <logger name="BillingAPI.Web.Handlers.LogRequestAndResponseHandler" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="RequestFileAppender" />
  </logger>
</log4net>